<h2>Methods that were not run</h2><table>
<tr><td>ui.smoke.testcases.housingAnalysisTool.TC2_accessAndModifySurveyContent.modifyingSurveyPage</td></tr>
<tr><td>ui.smoke.testcases.housingAnalysisTool.TC3_logoutFromHAT.logoutFromHAT</td></tr>
<tr><td>ui.smoke.testcases.housingAnalysisTool.TC2_accessAndModifySurveyContent.verifyPreview</td></tr>
<tr><td>ui.smoke.testcases.housingAnalysisTool.TC2_accessAndModifySurveyContent.navigateToSurveyPage</td></tr>
</table>